<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LocBus Simulator</title>
    <!-- link css -->
    <link rel="stylesheet" href="../css/horarios.css" />

    <!-- link FONT AWSONE CDN -->
    <script
      src="https://kit.fontawesome.com/eeb24722a1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- header -->
    <header>
      <a href="" class="logo"
        ><img src="../assets/imgs/lockbus-logo.png" alt="Logo LocBus"
      /></a>

      <nav>
        <ul class="nav-links">
          <li><a href="/home">Início</a></li>
          <li><a href="/horarios" id="active">Horários</a></li>
          <li><a href="/consultaItinerarios">Itinerários</a></li>
          <li><a href="/consultaDados/<%= user.idUser %>">Dados do Usuário</a></li>
          <li><a href="/sobre-nos">Quem Somos</a></li>
          <li><a href="/suporte">Fale Conosco</a></li>
        </ul>
      </nav>

      <div class="main-header">
        <div class="login-icon">
          <a href="#"><i class="fa-solid fa-circle-user"></i></a>
        </div>
        <div class="login-text">
          <a><p>Seja bem-vindo,</p></a>
          <a><p><%= user.nome %></p></a> <!-- Correção aqui -->
        </div>
      </div>
    </header>

    <!-- tabela horarios -->
    <section class="main-container">
      <main class="table">
        <section class="table-header">
          <h1>Horários para o Ponto <%= idPonto %></h1>
        </section>
        <section class="table-body">
          <table>
            <thead>
              <tr>
                <th>Linhas</th>
                <th>Destino</th>
                <th>Horário</th>
                <th>Faltam</th>
                <th>Todos Horários</th>
              </tr>
            </thead>

            <tbody>
              <% for (let horarioPonto of horariosPonto) { %>

              <tr>
                <td><%= horarioPonto.idLinha %></td>
                <td><%= horarioPonto.sentidoLinha %></td>
                <td><%= horarioPonto.horarioTabela %></td>
                <td><%= horarioPonto.diferencaEmMinutos %> minutos</td>

                <td>
                  <a href="/horariosLinha/<%= horarioPonto.idLinha %>">
                    <i class="fa-regular fa-clock"></i>
                  </a>
                </td>
              </tr>

              <% } %>
            </tbody>
          </table>
        </section>
      </main>
    </section>
    <!-- banner -->
    <section class="banner">
      <div class="banner-img">
        <img src="../assets/imgs/banner-horario.png" alt="" />
      </div>
    </section>

    <!-- footer -->
    <footer>
      <section class="footer-container">
        <div class="footer-block">
          <nav>
            <h4>Menu Rodapé</h4>
            <ul class="footer-nav-links">
              <li><a href="/home">Início</a></li>
              <li><a href="/horarios" id="active">Horários</a></li>
              <li><a href="/consultaItinerarios">Itinerários</a></li>
              <li><a href="/consultaDados/<%= user.idUser %>">Dados do Usuário</a></li>
              <li><a href="/sobre-nos">Quem Somos</a></li>
              <li><a href="/suporte">Fale Conosco</a></li>
            </ul>
          </nav>
        </div>

        <div class="footer-block">
          <div class="footer-service">
            <h4>ATENDIMENTO</h4>
            <p>
              <strong>Email:</strong> xxxx@gmail.com
              <br />
              <strong>WhatsApp:</strong> +55 (19) 12345 - 6789
            </p>
          </div>
        </div>

        <div class="footer-block">
          <img src="../assets/imgs/lockbus-logo.png" alt="Imagem do Footer" />
        </div>
      </section>
    </footer>
  </body>
</html>
