<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Itiner치rio da Linha <%= idLinha %> - <%= itinerarioLinha[0].sentido_nome
      %>
    </title>
    <link rel="stylesheet" href="../css/itinerarioLinha.css" />
  </head>
  <body>
    <section class="main-container">
      <main class="table">
        <section class="table-header">
          <h1>
            Itiner치rio da Linha <%= idLinha %> - <%=
            itinerarioLinha[0].sentido_nome %>
          </h1>
        </section>
        <section class="table-body">
          <ul class="pontos">
            <% for (let i = 0; i < itinerarioLinha.length; i++) { %>
            <li class="bolinha"><%= itinerarioLinha[i].logradouro %></li>
            <% } %>
          </ul>
        </section>
      </main>
      <section class="section__mapa">
        <div id="map"></div>
        <div class="btns">

          <a href="/horariosLinha/<%= idLinha %>" class="horarios__link"
            >Ir para hor치rios</a
          >
          <a href="/home" class="horarios__link">Voltar para mapa</a>
        </div>
      </section>
    </section>

    <script>
      function mapaItinerario() {
          var map = new google.maps.Map(document.getElementById('map'), {
              center: { lat: -22.93181039460931, lng: -47.02762274568502 },
              zoom: 13
          });

          <% for (let i = 0; i < pontos.length; i++) { %>
              createMarker(map, <%= pontos[i].lat %>, <%= pontos[i].lon %>, '<%= pontos[i].logradouro %>', '<%= i+1 %>');
          <% } %>

          function createMarker(map, lat, lon, title, idPonto) {
              var infowindow = new google.maps.InfoWindow();

              var marker = new google.maps.Marker({
                  position: { lat: lat, lng: lon },
                  map: map,
                  title: title,
                  icon: {
                      url: '../assets/imgs/icon-bus-stop.png',
                      scaledSize: new google.maps.Size(18, 18)
                  }
              });

              marker.addListener('click', function () {
                  var content = '<h3>' + title + '</h3>';
                  content += '<p><a href="/horariosPonto?idPonto=' + idPonto + '">Ver hor치rios</a></p>';

                  infowindow.setContent(content);
                  infowindow.open(map, marker);
              });
          }
      }

      window.onload = function () {
          mapaItinerario();
      };
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPqVesYps_1tILaZbeYap2oWw-u4WV7JE&callback=mapaItinerario"
      async
      defer
    ></script>
  </body>
</html>
