<!DOCTYPE html>
<html>
  <head>
    <title>Meu Mapa</title>
    <link rel="stylesheet" href="./css/mapa.css" />

    <!-- link FONT AWSONE CDN -->
    <script
      src="https://kit.fontawesome.com/eeb24722a1.js"
      crossorigin="anonymous"
    ></script>
  </head>
   <header>
      <a href="#" class="logo"
        ><img src="./assets/imgs/lockbus-logo.png" alt="Logo LocBus"
      /></a>

      <nav>
        <ul class="nav-links">
          <li><a href="/mapa" id="active">Início</a></li>
          <li><a href="#">Horários</a></li>
          <li><a href="/consultaItinerarios">Itinerários</a></li>
          <li><a href="/sobre-nos">Quem Somos</a></li>
          <li><a href="/suporte">Fale Conosco</a></li>
        </ul>
      </nav>

      <div class="main-header">
        <div class="login-icon">
          <a href="#"><i class="fas fa-circle-user"></i></a>
        </div>
        <div class="login-text">
          <a><p>Seja bem-vindo,</p></a>
          <a><p><%= user.nome %></p></a> <!-- Correção aqui -->
        </div>
      </div>
    </header>
    <section class="container-mapa">
      <form action="#">
        <div class="menu">
          <div class="menu-header">
            <img src="./assets/imgs/mapa-header.png" id="img-header" alt="">
            <h2>Linha<br>Preferida</h2>
          </div>
          <div class="menu-main">
            <div class="menu-container">
              <div class="distance-img">
                <img src="./assets/imgs/icone-de-bus-orange.png" alt="Icone Onibus" id="iconBus">
                <img src="./assets/imgs/rota.png" alt="" id="iconRota">

              </div>
              <div class="p">
                <div class="p-container">
                  <p><%= user.linhaPreferidaInfo.idLinha %></p>
                </div>
                <div class="p-container2">
                  <p><%= user.linhaPreferidaInfo.nomeIda %> </p>
                  <p><%= user.linhaPreferidaInfo.nomeVolta %></p>
                </div>
              </div>
            </div>
            <div class="gray-box">
              <button type="submit" href="">Horários</button>
              <br>
              <button type="submit" href="">Itinerário</button>
            </div>
          </div>
        </div>
      </form>
      <div id="map"></div>
    </section>

    <script>
      function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
              center: { lat: -22.96793034203473, lng: -46.995350186264304 },
              zoom: 16
          });

          <% for (let i = 0; i < pontos.length; i++) { %>
              createMarker(map, <%= pontos[i].lat %>, <%= pontos[i].lon %>, '<%= pontos[i].logradouro %>', '<%= i+1 %>');
          <% } %>

          function createMarker(map, lat, lon, title, idPonto) {
              var infowindow = new google.maps.InfoWindow();

              var marker = new google.maps.Marker({
                  position: { lat: lat, lng: lon },
                  map: map,
                  title: title,
                  icon: {
                      url: '../assets/imgs/icon-bus-stop.png',
                      scaledSize: new google.maps.Size(22, 22)
                  }
              });

              marker.addListener('click', function () {
                  var content = '<h3>' + title + '</h3>';
                  content += '<p><a href="/horariosPonto?idPonto=' + idPonto + '">Ver horários</a></p>';

                  infowindow.setContent(content);
                  infowindow.open(map, marker);
              });
          }
      }
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzGJHcT9GwLSLre5lNgyS0RmaqaA6R8IQ&callback=initMap"
      async
      defer
    ></script>
  </body>
</html>
